In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# read in the raw data from the github url

df = pd.read_csv("https://raw.githubusercontent.com/suneel0101/lesson-plan/master/crunchbase_monthly_export.csv")

In [3]:
df.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,|Credit|Technology|Services|Finance|,Credit,"750,000",NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,NaN,1/1/10,1/1/10,NaN
1,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,Entertainment,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12,NaN
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,NaN
3,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Education,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12,NaN
4,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Apps,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11,NaN

#### 1. Clean the data. Use .apply and lambda functions where you can

In [4]:
# rename the columns to remove spaces and extra characters
df.columns.values

array(['permalink', 'name', 'homepage_url', 'category_list', ' market ',
       ' funding_total_usd ', 'status', 'country_code', 'state_code',
       'region', 'city', 'funding_rounds', 'founded_at', 'founded_month',
       'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at', 'Unnamed: 18'], dtype=object)

In [5]:
df["Unnamed: 18"].describe()
del df["Unnamed: 18"]

In [6]:
df = df.rename(columns = {" market ": "market", " funding_total_usd ": "funding_total_usd"})

In [7]:
df.columns.values

array(['permalink', 'name', 'homepage_url', 'category_list', 'market',
       'funding_total_usd', 'status', 'country_code', 'state_code',
       'region', 'city', 'funding_rounds', 'founded_at', 'founded_month',
       'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at'], dtype=object)

In [8]:
# convert the funding, year founded, and funding_rounds columns to integers
df.dtypes

permalink             object
name                  object
homepage_url          object
category_list         object
market                object
funding_total_usd     object
status                object
country_code          object
state_code            object
region                object
city                  object
funding_rounds         int64
founded_at            object
founded_month         object
founded_quarter       object
founded_year         float64
first_funding_at      object
last_funding_at       object
dtype: object

In [14]:
df["funding_total_usd"].head(20)

0      750000.0
1     1750000.0
2     4000000.0
3       40000.0
4     1500000.0
5      600000.0
6     7000000.0
7     4912393.0
8     2000000.0
9           NaN
10    1700000.0
11      40000.0
12          NaN
13          NaN
14    1750000.0
15          NaN
16    2050000.0
17      40000.0
18     500000.0
19          NaN
Name: funding_total_usd, dtype: float64

In [10]:
#this will try things until it gets an error
def turndollarsintoint(x):
    try:
        newint = str(x).replace(",", "")
        return int(newint)
    except:
        return np.nan

In [11]:
df["funding_total_usd"] = df["funding_total_usd"].apply(turndollarsintoint)

In [12]:
df["funding_total_usd"].value_counts()

1000000.0      874
500000.0       703
40000.0        680
100000.0       664
2000000.0      554
50000.0        512
10000000.0     470
250000.0       461
5000000.0      445
3000000.0      435
1500000.0      420
200000.0       394
25000.0        391
150000.0       348
4000000.0      314
300000.0       308
20000.0        276
6000000.0      268
2500000.0      239
20000000.0     218
15000000.0     209
600000.0       207
400000.0       205
7000000.0      191
750000.0       187
1200000.0      184
8000000.0      178
12000000.0     169
10000.0        163
3500000.0      160
              ...
14459465.0       1
45632042.0       1
16556606.0       1
10723891.0       1
624000.0         1
31171234.0       1
15901360.0       1
129606472.0      1
5743342.0        1
3646260.0        1
26321710.0       1
17998631.0       1
46900000.0       1
2597645.0        1
172801.0         1
1745661.0        1
37397237.0       1
107250.0         1
2401000.0        1
84900000.0       1
15966943.0       1
959197.0         1
5546715.0        1
100180695.0      1
1024726.0        1
2728659.0        1
204514000.0      1
4825800.0        1
2073280.0        1
9699336.0        1
Name: funding_total_usd, dtype: int64

In [15]:
df["funding_total_usd"].describe()

count    3.754400e+04
mean     1.800507e+07
std      4.417086e+08
min      3.500000e+01
25%      3.859800e+05
50%      2.000000e+06
75%      1.000000e+07
max      7.879506e+10
Name: funding_total_usd, dtype: float64

In [16]:
df.dtypes

permalink             object
name                  object
homepage_url          object
category_list         object
market                object
funding_total_usd    float64
status                object
country_code          object
state_code            object
region                object
city                  object
funding_rounds         int64
founded_at            object
founded_month         object
founded_quarter       object
founded_year         float64
first_funding_at      object
last_funding_at       object
dtype: object

In [17]:
df["founded_year"].value_counts()

2012.0    4679
2011.0    4627
2010.0    3610
2013.0    3213
2009.0    2839
2008.0    2270
2007.0    2251
2006.0    1761
2005.0    1377
2004.0    1121
2003.0     935
2000.0     863
2002.0     765
1999.0     737
2001.0     725
2014.0     690
1998.0     425
1997.0     345
1996.0     295
1995.0     219
1994.0     147
1993.0     125
1992.0     112
1991.0      87
1989.0      84
1990.0      80
1985.0      73
1988.0      71
1984.0      65
1987.0      65
          ...
1914.0       2
1913.0       2
1934.0       2
1923.0       2
1949.0       2
1910.0       2
1945.0       2
1953.0       2
1951.0       2
1965.0       2
1926.0       2
1908.0       1
1917.0       1
1911.0       1
1903.0       1
1902.0       1
1918.0       1
1962.0       1
1920.0       1
1925.0       1
1929.0       1
1933.0       1
1936.0       1
1939.0       1
1941.0       1
1943.0       1
1944.0       1
1946.0       1
1957.0       1
1900.0       1
Name: founded_year, dtype: int64

In [18]:
def turnyearsintoint(x):
    try:
        return int(x)
    except:
        return np.nan
    
df["founded_year"] = df["founded_year"].apply(turnyearsintoint)

In [19]:
df["founded_year"].describe()

count    35226.000000
mean      2007.083461
std          7.522161
min       1900.000000
25%       2005.000000
50%       2009.000000
75%       2011.000000
max       2014.000000
Name: founded_year, dtype: float64

In [21]:
df.dtypes

permalink             object
name                  object
homepage_url          object
category_list         object
market                object
funding_total_usd    float64
status                object
country_code          object
state_code            object
region                object
city                  object
funding_rounds         int64
founded_at            object
founded_month         object
founded_quarter       object
founded_year         float64
first_funding_at      object
last_funding_at       object
dtype: object

In [22]:
# convert category_list so that each cell is a list of categories
df.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,|Credit|Technology|Services|Finance|,Credit,750000.0,NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,NaN,1/1/10,1/1/10
1,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,Entertainment,1750000.0,acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,4000000.0,operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10
3,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Education,40000.0,operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12
4,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Apps,1500000.0,operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11

In [24]:
df["category_list"] = df["category_list"].apply(lambda x: str(x).split("|")[1:-1]) #this makes everything that is broken by "|" into a list
#the [1:-1] pulls the items starting at 1, and the one right before so you exclude the "|" at the beginning and end

In [25]:
df["category_list"].head()

0              [Credit, Technology, Services, Finance]
1        [Entertainment, Politics, Social Media, News]
2                                              [Games]
3                              [Publishing, Education]
4    [Electronics, Guides, Coffee, Restaurants, Mus...
Name: category_list, dtype: object

In [28]:
# use value_counts on market, status, and country_code to check for any repeats or misnamed entries
dfcountryvalue = df["country_code"].value_counts()
dfcountryvalue.sort_index()

ALB        1
ANT        9
ARE       49
ARG      137
ARM        2
AUS      301
AUT      102
AZE        3
BEL      147
BGD        5
BGR       59
BHR        3
BHS        3
BLR        3
BMU        5
BRA      261
BRB        1
BRN        1
BWA        1
CAN     1198
CHE      215
CHL      307
CHN     1183
CMR        2
COL       31
CRI        5
CSS        6
CYM        9
CYP       10
CZE       54
       ...
REU        1
ROM        1
ROU       37
RUS      368
SAU        6
SEN        1
SGP      271
SLV        3
SOM        1
SRB        2
SVK       11
SVN       10
SWE      308
SWZ        1
SYC        1
THA       36
TUN        3
TUR      103
TWN       40
TZA        2
UGA       10
UKR       41
URY       10
USA    26540
UZB        1
VEN        1
VNM       17
ZAF       50
ZMB        1
ZWE        1
Name: country_code, dtype: int64

In [29]:
dfmarketscounts = df["market"].value_counts()
dfmarketscounts.sort_index()

 3D                                       68
 3D Printing                               6
 3D Technology                             1
 Accounting                               70
 Active Lifestyle                          6
 Ad Targeting                             55
 Advanced Materials                        2
 Adventure Travel                         15
 Advertising                            1925
 Advertising Exchanges                     3
 Advertising Networks                     11
 Advertising Platforms                    11
 Advice                                   22
 Aerospace                                24
 Agriculture                              30
 Algorithms                               13
 All Markets                              18
 All Students                             67
 Alternative Medicine                      1
 Alumni                                    6
 Analytics                              1149
 Android                                 395
 Angels                                    8
 Animal Feed                               3
 App Marketing                            40
 App Stores                               27
 Application Performance Monitoring        3
 Application Platforms                     6
 Apps                                    458
 Aquaculture                               1
                                        ...
 Therapeutics                              1
 Ticketing                                 5
 Tourism                                   3
 Toys                                      1
 Tracking                                  4
 Trading                                   1
 Transportation                           69
 Travel                                  216
 Travel & Tourism                          8
 User Experience Design                    1
 Utilities                                 5
 Venture Capital                           1
 Veterinary                                1
 Video                                     9
 Video Games                               8
 Video Streaming                           4
 Video on Demand                           1
 VoIP                                      3
 Web Design                                3
 Web Development                           4
 Web Hosting                             380
 Web Tools                                 1
 Weddings                                  3
 Wholesale                                 1
 Wine And Spirits                          7
 Wireless                                  2
 iOS                                      12
 iPad                                     20
 iPhone                                   41
 mHealth                                   2
Name: market, dtype: int64

In [ ]:
# BONUS: convert the date columns to appropriate datetime objects

#### 2. Using isnull(), take a subset of the dataframe that has no founded at date

#### 3. Create a new column, founded_year_x, that's a copy of founded_year. Then, replace all the missing values with either the mean , mode, or median of that column. 
Add a note explaining which statistic you picked and why:

#### 4. Take a subset of US-based companies using boolean selection

#### 5. Create a pivot table showing total, mean, and median funding amount by year

#### 6. Create a pivot table showing total, mean and median funding amount by market

#### 7. CHALLENGE: Using matplotlib, create a scatter plot showing funding amount on the y-axis, and first_funding_date on the x-axis
(first_funding_date will need to be a timestamp)

#### 8. Here's the fun part. Create a hypothesis based on your data that you can reasonably test. 
For example: "Credit companies based in the US that only get 1 round of funding tend to receive more funding than companies based outside the US"



When you have your hypothesis, write it below, and Slack it to the instructors so we can check in.

#### 9. Test your hypothesis. 

You'll need to evaluate your hypothesis using a t-test (see Monday's lecture 1.3), so make sure you have enough data compare samples. If your original hypothesis is too narrow, you may need to broaden the scope.

#### 10. CHALLENGE
- Plot the distribution of both samples
- Explain your results in one short sentence. 
- Explain your result in a slighly longer technical paragraph, touching on the statistics you presented. 
- Subset your findings: if you looked at a certain market in a certain geography, break it down by another variable (e.g number of funding rounds) and compare those samples.