In [1]:
import numpy as np
import scipy as sp
import pandas as pd
from scipy import stats

In [2]:
one_sample_data = [177.3, 182.7, 169.6, 176.3, 180.3, 179.4, 178.5, 177.2, 181.8, 176.5]

In [3]:
one_sample = stats.ttest_1samp(one_sample_data, 175.3) #this is a one sample, two sided test. The 175.3 is the population mean.
#two sided because you don't care about whether or not its higher or lower, just that its different
print "The t-statistic is %.3f and the p-value is %.3f." % one_sample

The t-statistic is 2.296 and the p-value is 0.047.

In [4]:
np.mean(one_sample_data)

177.96000000000001

In [2]:
sat_scores = pd.read_csv("sat_scores.csv")

sat_scores.head()

  State  Rate  Verbal  Math
0    CT    82     509   510
1    NJ    81     499   513
2    MA    79     511   515
3    NY    77     495   505
4    NH    72     520   516

In [3]:
data_sat = sat_scores[0:51]
print data_sat

   State  Rate  Verbal  Math
0     CT    82     509   510
1     NJ    81     499   513
2     MA    79     511   515
3     NY    77     495   505
4     NH    72     520   516
5     RI    71     501   499
6     PA    71     500   499
7     VT    69     511   506
8     ME    69     506   500
9     VA    68     510   501
10    DE    67     501   499
11    MD    65     508   510
12    NC    65     493   499
13    GA    63     491   489
14    IN    60     499   501
15    SC    57     486   488
16    DC    56     482   474
17    OR    55     526   526
18    FL    54     498   499
19    WA    53     527   527
20    TX    53     493   499
21    HI    52     485   515
22    AK    51     514   510
23    CA    51     498   517
24    AZ    34     523   525
25    NV    33     509   515
26    CO    31     539   542
27    OH    26     534   439
28    MT    23     539   539
29    WV    18     527   512
30    ID    17     543   542
31    TN    13     562   553
32    NM    13     551   542
33    IL    12     576   589
34    KY    12     550   550
35    WY    11     547   545
36    MI    11     561   572
37    MN     9     580   589
38    KS     9     577   580
39    AL     9     559   554
40    NE     8     562   568
41    OK     8     567   561
42    MO     8     577   577
43    LA     7     564   562
44    WI     6     584   596
45    AR     6     562   550
46    UT     5     575   570
47    IA     5     593   603
48    SD     4     577   582
49    ND     4     592   599
50    MS     4     566   551

In [27]:
one_sample = stats.ttest_1samp(data_sat["Verbal"], 800*.65) 
print "The t-statistic is %.3f and the p-value is %.3f." % one_sample

The t-statistic is 2.682 and the p-value is 0.010.

In [21]:
sat_scores.tail()

   State  Rate  Verbal  Math  difference_test
47    IA     5     593   603               10
48    SD     4     577   582                5
49    ND     4     592   599                7
50    MS     4     566   551               15
51   All    45     506   514                8

In [25]:
one_sample = stats.ttest_1samp(data_sat["Math"], 800*.65) 
print "The t-statistic is %.3f and the p-value is %.3f." % one_sample

The t-statistic is 2.331 and the p-value is 0.024.

In [96]:
data_sat.describe()

            Rate      Verbal        Math  difference_test
count  51.000000   51.000000   51.000000        51.000000
mean   37.000000  532.529412  531.843137         7.901961
std    27.550681   33.360667   36.287393        13.700007
min     4.000000  482.000000  439.000000         0.000000
25%     9.000000  501.000000  503.000000         2.000000
50%    33.000000  527.000000  525.000000         5.000000
75%    64.000000  562.000000  557.500000         9.000000
max    82.000000  593.000000  603.000000        95.000000

In [11]:
#Assume there is no difference between math and verbal, find the probablity 
m = 0
data_sat_new = pd.concat([data_sat["Verbal"], data_sat["Math"]], ignore_index)
data_sat_new = pd.DataFrame(data_sat_new)
data_sat_new.reset_index(inplace = True)

In [13]:
del data_sat_new["index"]

In [33]:
data_sat_new.iloc[73]

0    510
Name: 73, dtype: int64

In [42]:
print data_sat_new.iloc[30].values[0]

543

In [51]:
m=0
for i in range(10000):
    rand_row = np.random.randint(102, size = 2)
    if (data_sat_new.iloc[rand_row[0]][0] - data_sat_new.iloc[rand_row[1]][0]) >= 0.5192:
        m += 1
    p = m / 10000.0
print p

0.4825

In [54]:
m = 0
for i in range(10000):
    rand_index = np.random.randint(102, size = 2)
    if (new_list[rand_index[0]]-new_list[rand_index[1]]) >= 0.5912:
        #m+=1
    p = m / 10000.0
print p

0     1019
1     1012
2     1026
3     1000
4     1036
5     1000
6      999
7     1017
8     1006
9     1011
10    1000
11    1018
12     992
13     980
14    1000
15     974
16     956
17    1052
18     997
19    1054
20     992
21    1000
22    1024
23    1015
24    1048
25    1024
26    1081
27     973
28    1078
29    1039
30    1085
31    1115
32    1093
33    1165
34    1100
35    1092
36    1133
37    1169
38    1157
39    1113
40    1130
41    1128
42    1154
43    1126
44    1180
45    1112
46    1145
47    1196
48    1159
49    1191
50    1117
dtype: int64

In [37]:
# Simulating a binomial variable (e.g. seeing heads in 20 out of 30 coin flips )

m = 0
for i in range(10000):
    trials = np.random.randint(2, size = 30) #numpy array of 30 items, that are 0,1
    if (trials.sum() >= 20): #want to make sure that you are getting 20 heads
        m += 1
p = m / 10000.0
p #percentage of trials that will give us a 20 1s (e.g. heads) out of 30 trials

0.0485