In [2]:
# import modules

import pandas as pd
import numpy as np

In [3]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [4]:
# select the preTestScore column

df["preTestScore"]

0     4
1    24
2    31
3     2
4     3
Name: preTestScore, dtype: int64

In [8]:
# find the standard deviation of preTestScore 

np.std(df["preTestScore"])

12.221292893961751

In [17]:
# select rows in preTestScore with scores greater than the mean
df[df["preTestScore"]>np.mean(df["preTestScore"])]

# find the mean of preTestScore
#np.mean(df["preTestScore"])

    name  age  preTestScore  postTestScore  Change in Pre to Post
1  Molly   52            24             94                     70
2   Tina   36            31             57                     26

In [6]:
# select the rows in preTestScore with scores greater than the mean

In [15]:
# create a new column that shows the score change from 
# preTestScore to postTestScore
df["Change in Pre to Post"] = df["postTestScore"] - df["preTestScore"]

df

    name  age  preTestScore  postTestScore  Change in Pre to Post
0  Jason   42             4             25                     21
1  Molly   52            24             94                     70
2   Tina   36            31             57                     26
3   Jake   24             2             62                     60
4    Amy   73             3             70                     67