Write a program that prints the numbers from 1 to 100. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz” `

For example, the numbers 8-15 look like: ... 8 Fizz 9 Buzz 11 Fizz 13 14 FizzBuzz ...

In [30]:
listrange = range(1,101)
print listrange

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [31]:
def fizzbuzz_nolist(item):
    newitem = int(item)
    if newitem % 3 == 0 and newitem % 5 == 0:
        return "FizzBuzz"
    elif newitem % 3 == 0:
        return "Fizz"
    elif newitem % 5 == 0:
        return "Buzz"
    else:
        return newitem

In [42]:
def fizzbuzz():
	number = int(raw_input("What's the highest number you want to iterate through? "))
	numberslist = range(1, number+1)
	for item in numberslist:
		if item % 3 == 0 and item % 5 == 0:
			print "FizzBuzz"
		elif item % 3 == 0:
			print "Fizz"
		elif item % 5 == 0:
			print "Buzz"
		else:
			print item

fizzbuzz()

What's the highest number you want to iterate through? 25
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz

In [33]:
fizzbuzz(listrange)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [34]:
import numpy as np
import pandas as pd

In [35]:
dftest = pd.DataFrame(range(1,101), columns = ["nums"])

In [36]:
dftest

    nums
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
..   ...
70    71
71    72
72    73
73    74
74    75
75    76
76    77
77    78
78    79
79    80
80    81
81    82
82    83
83    84
84    85
85    86
86    87
87    88
88    89
89    90
90    91
91    92
92    93
93    94
94    95
95    96
96    97
97    98
98    99
99   100

[100 rows x 1 columns]

In [40]:
dftest["fizzbuzz"] = dftest.applymap(fizzbuzz_nolist)
dftest

    nums  fizzbuzz
0      1         1
1      2         2
2      3      Fizz
3      4         4
4      5      Buzz
5      6      Fizz
6      7         7
7      8         8
8      9      Fizz
9     10      Buzz
10    11        11
11    12      Fizz
12    13        13
13    14        14
14    15  FizzBuzz
15    16        16
16    17        17
17    18      Fizz
18    19        19
19    20      Buzz
20    21      Fizz
21    22        22
22    23        23
23    24      Fizz
24    25      Buzz
25    26        26
26    27      Fizz
27    28        28
28    29        29
29    30  FizzBuzz
..   ...       ...
70    71        71
71    72      Fizz
72    73        73
73    74        74
74    75  FizzBuzz
75    76        76
76    77        77
77    78      Fizz
78    79        79
79    80      Buzz
80    81      Fizz
81    82        82
82    83        83
83    84      Fizz
84    85      Buzz
85    86        86
86    87      Fizz
87    88        88
88    89        89
89    90  FizzBuzz
90    91        91
91    92        92
92    93      Fizz
93    94        94
94    95      Buzz
95    96      Fizz
96    97        97
97    98        98
98    99      Fizz
99   100      Buzz

[100 rows x 2 columns]

In [41]:
dftest["nums"].apply(fizzbuzz_nolist)

    nums  fizzbuzz
0      1         1
1      2         2
2      3      Fizz
3      4         4
4      5      Buzz
5      6      Fizz
6      7         7
7      8         8
8      9      Fizz
9     10      Buzz
10    11        11
11    12      Fizz
12    13        13
13    14        14
14    15  FizzBuzz
15    16        16
16    17        17
17    18      Fizz
18    19        19
19    20      Buzz
20    21      Fizz
21    22        22
22    23        23
23    24      Fizz
24    25      Buzz
25    26        26
26    27      Fizz
27    28        28
28    29        29
29    30  FizzBuzz
..   ...       ...
70    71        71
71    72      Fizz
72    73        73
73    74        74
74    75  FizzBuzz
75    76        76
76    77        77
77    78      Fizz
78    79        79
79    80      Buzz
80    81      Fizz
81    82        82
82    83        83
83    84      Fizz
84    85      Buzz
85    86        86
86    87      Fizz
87    88        88
88    89        89
89    90  FizzBuzz
90    91        91
91    92        92
92    93      Fizz
93    94        94
94    95      Buzz
95    96      Fizz
96    97        97
97    98        98
98    99      Fizz
99   100      Buzz

[100 rows x 2 columns]

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...`

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [ ]:
fibonacci_list = []

for item in range(1, 4000000):
    if item <